@font-face {
    font-family: 'raleway';
    src: url('fonts/Raleway-Regular.eot');
    src: local('â˜º'), url('fonts/Raleway-Regular.woff') format('woff'), url('fonts/Raleway-Regular.ttf') format('truetype'), url('fonts/Raleway-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'raleway-bold';
    src: url('fonts/Raleway-Bold.eot');
    src: local('â˜º'), url('fonts/Raleway-Bold.woff') format('woff'), url('fonts/Raleway-Bold.ttf') format('truetype'), url('fonts/Raleway-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body, a, p, span, div{ font-family: 'raleway' !important;}
header nav .navbar-nav > li > a {margin: 0 5px !important; font-size: 10px !important;}
.seccion2Font { font-size: 45px; }
.enlaceEquipoEmail { color: #fff;}
#player {
    width: 100%;
    position: absolute;
    height: 100%; 
    top: 0px;
}